<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--<add key ="Mode" value ="Daily"/>-->
        <add key ="mode" value ="interval"/>
        <add key ="IntervalMinutes" value ="5"/>
        <add key ="ScheduledTime" value ="18:00"/>
        <add key="ConnectionString" value="server=localhost;user id=root;persistsecurityinfo=True;database=siem_sql_database"/>
    </appSettings>
</configuration>

<!--

Mode: 
It is used to set the Mode.
There are two types of modes namely Daily and Interval.

IntervalMinutes: 
It is used when Mode is set to Interval.
It consist of the Interval value in Minutes after which the Windows Service will perform a task.
In other words, it is the delay value.

ScheduledTime:
This setting is used when the Mode is set to Daily.
It is used to notify the Windows Service the time it should perform a task.
The value specified is in 24 hour time format.

  -->