@{
    ViewBag.Title = "Logovi i događaji";
}

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
</div>

@functions{
    int LogIndex = 0;
    string MachineName = "";
    string Source = "";
    string TimeGenerated = "";
    string Message = "";
    string EntryType = "";

    string logs = "";

    public string PrikazPodataka()
    {
        
        try
        {
            MySql.Data.MySqlClient.MySqlDataReader reader = null;
            string selectCmd = "SELECT * FROM Logs";

            MySql.Data.MySqlClient.MySqlConnection msc = new MySql.Data.MySqlClient.MySqlConnection("server=localhost;user id=root;persistsecurityinfo=True;database=siem_sql_database");
            msc.Open();
            
            
            MySql.Data.MySqlClient.MySqlCommand command = new MySql.Data.MySqlClient.MySqlCommand(selectCmd, msc);
            reader = command.ExecuteReader();

            logs += "<table id=\"customers\"><tr><th>Log Index</th><th>Machine Name</th><th>Source</th><th>Time Generated</th><th>Message</th><th>Entry Type</th></tr>";
            
            while (reader.Read())
            {
                LogIndex = (int)reader["LogIndex"];
                MachineName = (string)reader["MachineName"];
                Source = (string)reader["Source"];
                TimeGenerated = (string)reader["TimeGenerated"];
                Message = (string)reader["Message"];
                EntryType = (string)reader["EntryType"];

                string temp = "<tr><td>" + LogIndex + "</td><td>" + MachineName + "</td><td>" + Source + "</td><td>" + TimeGenerated + "</td><td>" + Message + "</td><td>" + EntryType + "</td></tr>";
                logs += temp;
            }
        }
        catch (Exception ex)
        {
            Message = ex.Message;
        }

        logs += "</table>";
        
        return logs;
    }
}

<div class="form-group">
    <div class="col-md-12">
        <p>@Html.Raw(PrikazPodataka())</p>
    </div>
</div>


